@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    --landingText: 11vh;
    --titleText: 6vh;
    --subtitleText: 5vh;
    --largeText: 4vh;
    --mediumText: 3vh;
    --smallText: 2vh;
    --mainColour: #68608C;
    --accentColour: #EBD4CB;
}

/* UNIVERSAL CLASSES */

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

.extraOnTop {
    z-index: 200;
}

body { 
    margin: 0;
}

#root {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* PAGES */

#page {
    width: 80vw;
    z-index: 100;
}

.blurb {
    padding: 5vh;
}

.blurb h1 {
    font-size: var(--titleText);
}

.blurb p {
    font-size: var(--mediumText);
}

/* LANDING PAGE */

#pageLanding {
    width: 100%;
    height: 100%;
    align-items: center;
}

#pageLanding h1 {
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: var(--landingText);
    margin: 0;
}

/* ABOUT PAGE */

.workshop {
    padding-left: 5vh;
    padding-bottom: 5vh;
}

.workshopPreview {
    height: 5vw;
    align-items: center;
}

.workshopIcon {
    vertical-align: bottom;
}

.workshopPreview h2 {
    font-size: var(--subtitleText);
    padding-left: 7vw;
}

.workshopDetails {
    font-size: var(--mediumText);
    padding-top: 3vh;
}

/* FOUNDERS PAGE */

.flipCardContainer {
    height: 60vh;
    width: 100%;
}

.flipCard {
    height: 60vh;
    width: 35vh;
    margin: 1vw;
    border-radius: 25px;
    background-color: var(--mainColour);
}

.flipCardSide {
    position: absolute;
    height: 60vh;
    width: 35vh;
}

.flipCardSide img {
    border-radius: 25px;
    height: 35vh;
}

.flipCardSide h2, .flipCardSide p {
    color: var(--accentColour);
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.flipCardSide h2 {
    font-size: var(--mediumText);
    margin-top: 3vh;
    height: 4vh;
}

.flipCardSide p {
    margin-top: 1vh;
    font-size: var(--smallText);
    margin-bottom: 2vh;
}

.opacityGradient {
    overflow: hidden;
    height: 10vh;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

/* APPLY PAGE */

.appTable {
    height: 60vh;
    margin-left: 10%;
    margin-right: 10%;
}

.appTableTab {
    height: 100%;
    width: 50%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-size: var(--smallText);
}

.appTableTab:hover {
    background-color: var(--mainColour);
    color: var(--accentColour);
}

.tabOpen {
    background-color: var(--mainColour);
    color: var(--accentColour);
}

.tabClosed {
    background-color: var(--accentColour);
    color: var(--mainColour);
}

.appTableContent {
    background-color: var(--mainColour);
}


/* NAVIGATION PANE */

#navigation {
    width: 20vw;
    height: 100%;
}

#logoContainer {
    height: 20vh;
    width: 100%;
}

#logoContainer a {
    width: 100%;
    height: 100%;
}

#logo {
    max-height: 15vh;
    max-width: 80%;
}

#navBar {
    justify-content: center;
    width: 100%;
    height: 65vh;
    position: relative;
    overflow: visible;
}

.extendedNavButtonContainer {
    position: relative;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100vw;
    right: 80vw;
}

.navButton {
    float: right;
    display: block;
    text-decoration: none;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: var(--largeText);
    margin: 0;
    font-weight: bold;
    position: relative;
    text-align: right;
}

#contactButtonContainer {
    height: 15vh;
    width: 100%;
}

#contactButtonContainer button {
    margin-left: 10%;
    margin-right: 10%;
}


